<h1>Listing task_items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Days Left</th>
      <th>Day Created</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @task_items.each do |task_item| %>
      <tr>
        <td><%= task_item.name %></td>
        <td><%= task_item.user_id %></td>
        <td><%= task_item.days_left%></td>
        <td><%= task_item.created_at.day%></td>
        <td><%= link_to 'Show', task_item %></td>
        <td><%= link_to 'Edit', edit_task_item_path(task_item) %></td>
        <td><%= link_to 'Complete', task_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task item', new_task_item_path %>
